.header-login {
  font-family: 'Rock Salt', cursive;
  margin-top: 50px;
  text-align: center;
}

.header-homepage {
  font-family: 'Rock Salt', cursive;
  float:left;
  margin-left: 20px;
}

.form-login {
  display: block;
  margin: 30px auto 0 auto;
  width: 400;
  text-align: center;
}

.navPills {
  margin-left: 790px;
  margin-top: 10px;
  padding : 15px;
} 

.align-cell-homepage {
  vertical-align: middle !important;
}

body {
  font-family: 'Lato', sans-serif;
}
/*
.navbar-replacethis {
  padding-bottom: 50px;
}

.header-replacethis {
  font-family: 'Rock Salt', cursive;
}



.form-login {
  max-width: 400px;
  padding: 30px;
  font-size: 16px;
  margin: 0 auto;
  -webkit-appearance: none;
}

.input-login{
  border-style: solid;
  border-color: lightgray;
  border-width: 1.5px;
  border-radius: 6px;
  position: relative;
  padding: 13px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.input-login:focus {
  outline: none;
  border-color: darkgray;
}

.btn-login {
  background-color: black;
  border-color : red;
  width:25%;
  margin:0 125px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.btn-login:focus {
  outline: none !important;
  border-color: darkgray;
}

.form-header1{
  text-align: center;
  margin-bottom: 25px;
}

.invalid-login {
  background-color: transparent !important;
  border-style: none !important;
  text-align: middle;
  margin:0px 320px 150px 320px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: red !important;
}*/

