<html>
	<body ng-controller="askQuestionCtrl">
		<h1><center>Ask A Question</center></h1>
		<form>
			  <div class="form-group">
			    <label for="reasonInput">Reason to visit Doctor</label>
			    <input type="text" class="form-control" ng-model="reasonInput" placeholder="Reason" required>
			  </div>
			   <div class="form-group">
			    <label for="prescriptionInput">Prescription Details</label>
			    <input type="text" class="form-control" ng-model="prescriptionInput" placeholder="Prescription">
			  </div>
  			   <div class="checkbox">
			  <label>
			    <input type="checkbox">
			    Is this a medication you've used before?
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="reqDoc">
			    I want a doctor to review my prescription
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="reqPharm">
			    I want a pharmacist to review my prescription
			  </label>
			</div>
			<button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
		</form>
	</body>
</html>