<html ng-controller="homepageCtrl">
	<head>
		<!-- <link href="app/modules/homepage/homepage.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body ng-controller="homepageCtrl">
		<!-- User's Questions -->
		<h1><center>Welcome!</center></h1>
		<div name="ask">
			<p><center><button ng-show="!isExpert" ng-click="askQuestion()" class="btn btn-primary btn-lg">Ask A Question Now</button></center></p>
		</div>
		<div name="questions" class="panel panel-default" ng-repeat="question in questions" ng-show="!isExpert">
			<div class="panel panel-default">
				<div class="panel-body">
			    	<table class="table" style="margin: 0px; table-layout:fixed;">
			    		<tr>
			    			<td style="width:200px;"><h3><span class="label label-default">Question:</span></h3></td>
			    			<td style="width:500px;" class="align-cell-homepage">{{question.description}}</td>
			    		</tr>
			    		<tr>
			    			<td style="width:200px;" class="align-cell-homepage" ><h3><span class="label label-primary">Prescription:</span></h3></td>
			    			<td style="width:500px;" class="align-cell-homepage">{{question.prescription}}</td>
			    		</tr>
  					</table>
				</div>
			  	<div class="panel-footer" ng-show="question.answered">
					<table class="table">
			    		<tr ng-repeat="answer in question.formattedAnswers">
			    			<td ng-show="answer.isOK"><span style="color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
			    			<td ng-show="!answer.isOK"><span style="color:red;" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>	
			    			<td><span class="label" style="color:black;">{{answer.response}}</span></td>
			    			<td><span class="label label-primary" style="float:right;">- {{answer.expert.name}}, <i>{{answer.expert.position}}</i></span></td>			    			
			    		</tr>
  					</table>
			  	</div>
			</div>
		</div>

		<!-- All Unanswered Questions -->
		<div name="questions" class="panel panel-default" ng-repeat="question in questions" ng-show="isExpert">
			<div class="panel panel-default">
				<div class="panel-body">
			    	{{question.description}} <p> {{question.prescription}}
				</div>
			  	<div class="panel-footer">
			  		<input type="radio" ng-model="isOk" ng-value=true name="radio{{question.qid}}">ok</input>
			  		<input type="radio" ng-model="isOk" ng-value=false name="radio{{question.qid}}">no</input>
			  		<input ng-model="commentInput" type="text" placeholder="Enter a Comment"></input> 
			  		<button type="submit" ng-click="createResponse(question, isOk, commentInput)">Respond</button>
			  		Link To Profile FUTURE
			  	</div>
			</div>
		</div>
	
	</body>
</html>